<div class="content" *ngIf="movie">
    <h1>Movie Details</h1>
    <div class="image">
        <img src="/assets/{{movie.id}}.jpg" />
    </div>
    <div class="content">
        <div class="line">
            <label>Id</label>
            <span>{{movie.id}}</span>
        </div>
        <div class="line">
            <label>Title</label>
            <span>{{movie.title}}</span>
        </div>
        <div class="line">
            <label>Genre</label>
            <span>{{movie.genre}}</span>
        </div>
    </div>
</div>
<div id="container" *ngIf="loading">
    <div class="card">
        <div class="image loading">
        </div>
        <div class="bars">
            <div class="bar bar1 loading"></div>
            <div class="bar bar2 loading"></div>
        </div>
    </div>

</div>
<div *ngIf="error">
    Oups ! Failed to load the movie ! :(
</div>