<aside class="navigation">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li>
      <a routerLink="/ex1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Example 1</a></li>
    <li>
      <a routerLink="/ex2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Example 2</a></li>
    <li>
      <a routerLink="/movies" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Movies</a></li>
    <li>
      <a routerLink="/logged" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Personal Space</a></li>
    <li>
      <a routerLink="/lazy" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Lazy Page</a></li>
  </ul>
  <app-router-state></app-router-state>
</aside>
<section class="route-content">
  <app-top-bar></app-top-bar>
  <router-outlet></router-outlet>
</section>